<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="applicationName" source="spring.application.name" defaultValue="sagat"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <version/>
                <pattern>
                    <pattern>{"application":"${applicationName}"}</pattern>
                </pattern>
                <logLevel/>
                <loggerName/>
                <threadName/>
                <message/>
                <keyValuePairs/>
                <arguments/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
